WebOrpalPhotoPort/Connected Services/ServiceReference1/WebDbServive.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebDbServive" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IWebDbService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dbhost.orpal.ru/WebDbServive.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dbhost.orpal.ru/WebDbServive.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dbhost.orpal.ru/WebDbServive.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrpalPhotoPort.Domain.DataContractMemebers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebDbService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_GetActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsers" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_GetActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_RemoveUserAt_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserAt" />
  </wsdl:message>
  <wsdl:message name="IWebDbService_RemoveUserAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserAtResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebDbService">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebDbService/GetUsers" message="tns:IWebDbService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebDbService/GetUsersResponse" message="tns:IWebDbService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebDbService/GetActiveUsers" message="tns:IWebDbService_GetActiveUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebDbService/GetActiveUsersResponse" message="tns:IWebDbService_GetActiveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebDbService/AddUser" message="tns:IWebDbService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebDbService/AddUserResponse" message="tns:IWebDbService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebDbService/EditUser" message="tns:IWebDbService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebDbService/EditUserResponse" message="tns:IWebDbService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebDbService/RemoveUserAt" message="tns:IWebDbService_RemoveUserAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebDbService/RemoveUserAtResponse" message="tns:IWebDbService_RemoveUserAt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebDbService" type="tns:IWebDbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/GetActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAt">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/RemoveUserAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IWebDbService" type="tns:IWebDbService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IWebDbService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/GetActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAt">
      <soap:operation soapAction="http://tempuri.org/IWebDbService/RemoveUserAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebDbServive">
    <wsdl:port name="BasicHttpBinding_IWebDbService" binding="tns:BasicHttpBinding_IWebDbService">
      <soap:address location="http://dbhost.orpal.ru/WebDbServive.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IWebDbService" binding="tns:BasicHttpsBinding_IWebDbService">
      <soap:address location="https://dbhost.orpal.ru/WebDbServive.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>